SBS_HOST=<your SBS host>
PUBLISHER_PORT=5556
BASE_DN=ou=sbs,dc=example,dc=org
LDAP_HOST=<your LDAP host>
LDAP_USERNAME=cn=admin,dc=example,dc=org
LDAP_PASSWORD=<your LDAP password>
API_USER=sysadmin
API_PASS=<your API password>
